<!DOCTYPE html>
<html>
{% load static %}
	<head>
	    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bulles</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/> -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		
		<!-- Style CSS -->
		<link rel="stylesheet" href="{%static 'css/navbar.css' %}" />
		<link rel="stylesheet" href="{%static 'css/bulles.css' %}" />

		<!-- Global variable : onServer -->
		<script type="text/javascript" src="{%static 'js/global.js' %}"></script> 

		<!-- Shortcut icon -->
		<link rel="shortcut icon" href="{%static 'images/Icon_Vanheede.png' %}" />
	</head>
<body>
	<nav class = "white"  id="navbar"> 
		<!-- Logo VANHEEDE -->
		<a href={%url 'accueil'%} class="link-img"><img class="logo logo-vanheede" src="{%static 'images/logo_Vanheede.png' %}" alt="logo"></a>
		
		<!-- Navbar -->
		<ul class="nav-links">
			<li><a href={%url 'accueil'%} class="other-page-link" id="link-1">Accueil</a></li>
			<li><a href={%url 'site'%} class="actual-page-link" id="link-4">Sites et bulles</a></li>
			<li><a href={%url 'simulation'%} class="other-page-link" id="link-5">Simulations</a></li>
            <li><a href={%url 'tournees'%}  class="other-page-link" id="link-6">Tournées</a></li>
		</ul>
		
		<!-- Logo UMONS -->
		<img class="logo logo-umons" src="{%static 'images/logo_Umons.png' %}" alt="logo">

		<!-- Burger for mobile menu -->
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	
	<content>
		<div id="app">

			<div class="flexed" style="margin-left: 30vh; margin-right: 30vh; margin-top: 5vh;">
			
				<div>	
					<input v-model="searchKey" placeholder="  Rechercher..."  type="text" class="search-bar" id="search"  autocomplete="off"  title="rechercher un site ou une bulle">
				</div>
				
				<div id="switch" style="left:0">
					<img src="{%static 'images/bulle.png' %}" width="60vh" height="60vh">
					<div class="form-check form-switch form-switch-lg" style="margin-top: 2.2vh; margin-left: 2.2vh; margin-right: 2vh;" v-on:click="switchBullesSites" title="changement entre les bulles et les sites"s>
					  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
					  <label class="form-check-label" for="flexSwitchCheckDefault"></label>
					</div>
					<img src="{%static 'images/place.png' %}" width="60vh" height="60vh">
				</div>

			</div>
			
		
			<div class="bulles-wrapper white">
		
				<div class="bulles-grid" id="sites-grid-title">
					<div class="bulles-title">NUMÉRO</div>
					<div class="bulles-title">TYPE DE BULLES</div>
					<!-- Etat à rajouter-->
					<!--<div class="bulles-title">ÉTAT</div>-->
					<div class="bulles-title">COULEUR</div>
					<div class="bulles-title">DERNIÈRE VIDANGE</div>
					<div class="bulles-title">ID DU SITE</div>
					<div class="bulles-title"></div>
					<button id='button' class="btn" data-toggle="modal" data-target="#myModal" > 
						<section>
						<img src="{%static 'images/plus.png' %}" width="20vh">
						</section>
					</button>
				</div>

	
				<div class="bulles-grid" id="sites-grid-content" @load= "fetchBulles_Sites"  v-for="(bulle1) in filteredList" :key = "bulle1.id_bulle"  v-bind:keyid="bulle1.id_bulle">
					<div class="bulles-data">[[bulle1.num_bulle]]</div>
					<div class="bulles-data">[[bulle1.type_bulle]]</div>
					<div class="bulles-data">[[bulle1.colories]] </div>
					<input v-bind:value=bulle1.date_vidange class ="sites-data site-date" type="date" disabled="disabled">
					<div class="bulles-data">[[bulle1.id_site]] </div>
					<!-- Modification de bulles -->
					<button class="button-edit" data-toggle="modal" data-target="#myModal2" v-on:click="editbulle(bulle1.id_bulle)" class="bulles-data-edit"><img src="{%static 'images/edit.png' %}" width="20vh" title="modifier la bulle"></button>
					<!-- Suppression de bulles -->
					<button class="button-delete"  v-on:click="suppbulle(bulle1.num_bulle,bulle1.id_bulle)" class="bulles-data supprimer-data"><img src="{%static 'images/delete.png' %}" width="20vh"title="supprimer la bulles"></button>
					
				</div>
			</div>

	<!-- Modal -->
		<div class="modal fade " id="myModal" role="dialog">
		<div class="modal-dialog modal-lg">
		
			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Ajout d'une bulle</h4>
			</div>
			<div class="modal-body">
            <div class="page-connexion ">
                

				{% if submitted %}
					Your site was submitted successfully!
				{% endif %}

				<form class="formulaire" action = "" method=POST>
					<h3 class="green col-12 margin-bottom"> Paramètres </h3>
					{{form.as_p}}
				
					<input type="submit" value="Ajouter" class="btn margin-top fw-bold connexion-button ">
				</form>
			</div> 
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
			
			</div>
			</div>
	
	
	<!-- Modal2 -->
		<div class="modal fade " id="myModal2" role="dialog">
		<div class="modal-dialog modal-lg">
		
			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Modification d'une bulle</h4>
			</div>
			<div class="modal-body">
            <div class="page-connexion ">
				
				<form class="formulaire" action = "" method="POST">
					<h3 class="green col-12 margin-bottom"> Paramètres </h3>

						<p>
							<label>Nom</label>
							<input class="form-control2 " type="text" id="Nom_Modif" placeholder="Nom de la bulle" required >
						</p>
						
						<p>
							<label>Type_bulle</label>
							<select class="form-control2" id='Type_bulle_Modif' required>
							<option value="Mono">Mono</option>
							<option value="Double">Double</option>
							<option value="Mono ent">Mono ent</option>
							<option value="Double ent">Double ent</option>
							</select>
						</p>
						
						<p>
							<label>Colories</label>
							<select class="form-control2" id='Colories_Modif' required>
							<option value="Coloured">Coloured</option>
							<option value="White">White</option>
							<option value="Coloured/White">Coloured/White</option>
							</select>
						</p>
						
						<p>
							<label>latitude</label>
							<input class="form-control2" type="number" id="latitude_Modif" placeholder="latitude" step=".0001"required>
						</p>
						
						<p>
							<label>longitude</label>
							<input class="form-control2" type="number" id="longitude_Modif" placeholder="longitude" step=".0001"required>
						</p>
						<p>
							<label>Date_vidange</label>
							<input class="form-control2" type="date" id="date_vidange_Modif" placeholder="date_vidange" required>
						</p>
						<p>
							<label>Depot</label>
							<select class="form-control2" id='Id_depot_Modif' required>
							<option value="Dottignies">Dottignies</option>
							<option value="Quévy">Quévy</option>
							</select>
						</p>
						
						<p>
							<label>Site</label>
							<select  class="form-control2" name="param" id="Id_site_Modif" size="1" @change="fetchParam($event)">
								<!-- v-for : afficher une liste d’éléments en provenance d’un tableau de données lié au fichié index.js -->
								<option v-for="site in sites.slice()" :value=site.id_site> [[site.nom]] </option>
							</select>

						</p>

					<button class="btn fw-bold connexion-button" v-on:click="editbulle2" >
						Modifier
					</button>
				</form>

			</div> 
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
		</div>
		
	</div>	
	</content>	
	
	<script src="{%static 'js/nav.js' %}"></script>
	<script src="{%static 'js/bulles.js' %}"></script>
	<script src="{%static 'js/jquery.min.js' %}"></script>
	<script src="{%static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
